.regFormWrapper {
  border-radius: 30px;
  background-color: #1f1f1f;
  padding: 20px;
}

.logoWrapper {
  margin-bottom: 40px;
}

.title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.grayTitle {
  color: rgba(227, 227, 227, 0.5);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  width: 100%;
  border-radius: 12px;
  padding: 14px;
  padding-left: 60px;
  background: #262626;
  color: #f9f9f9;

  &::placeholder {
    color: #f9f9f9;
  }
}
.lastInput {
  padding-left: 78px;
  margin-bottom: 12px;
}
.inputWrapper {
  position: relative;
}

.label {
  position: absolute;
  top: 12px;
  left: 14px;
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.registerBtn {
  font-family: "Gilroy-Bold", sans-serif;
  background-color: #f9f9f9;
  border-radius: 30px;
  padding: 12px 25px;
}

.loginLink {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.lastInputWrapper {
  position: relative;
}

.eyeIcon {
  right: 16px;
  top: 13px;
  position: absolute;
}
