.bookList {
  border-radius: 30px;
  background-color: #1f1f1f;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  h1 {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

.contentImg {
  border-radius: 8px;
  width: 137px;
  height: 208px;
}
.contentTitle {
  width: 140px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.authorPh {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
}
